html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
  color: #1c252c;
}

.curent-element {
  /* animation-name: scale;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
  animation-delay: 1s;
  animation-fill-mode: forwards; */
  animation: scale 2s linear infinite normal running 1s forwards;
}
.curent-element:hover {
  animation-play-state: paused;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    background-color: #afa7b2;
    border-color: #00457e;
    color: #00457e;
    transform: scale(1.025);
  }
  100% {
    transform: scale(1);
  }
}

.container {
  max-width: 1450px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 15px;
}

.text {
  font-size: 24px;
  text-align: center;
  margin-bottom: 15px;
}

.hidden {
  display: none;
}

.header {
  padding: 15px 0;
  background-color: #bbc6c8;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.navigation {
  padding: 15px 0;
  background-color: #e5e3e4;
}
.navigation-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.navigation-link {
  padding: 10px;
  border: 2px solid #0c082d;
  border-radius: 15px;
  cursor: pointer;
  display: inline-block;
  transition:
    background-color 0.3s ease-in,
    border 0.3s ease-in,
    color 0.3s ease-in;
}
.navigation-link:hover,
.navigation-link:focus {
  background-color: #afa7b2;
  border: 2px solid #00457e;
  color: #00457e;
}
.navigation-link:active {
  transform: translate(0%, 1px);
}
.navigation-link--active {
  background-color: #afa7b2;
  border: 2px solid #00457e;
  color: #00457e;
}

.description {
  padding: 15px 0;
  background-color: #ddbeaa;
}

.lesson-navigation--list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.lesson-navigation--link {
  padding: 10px;
  border: 2px solid #0c082d;
  border-radius: 15px;
  cursor: pointer;
  display: inline-block;
  transition:
    background-color 0.3s ease-in,
    border 0.3s ease-in,
    color 0.3s ease-in;
}
.lesson-navigation--link:hover,
.lesson-navigation--link:focus {
  background-color: #afa7b2;
  border: 2px solid #00457e;
  color: #00457e;
}
.lesson-navigation--link:active {
  transform: translate(0%, 1px);
}
.lesson-list {
  padding: 15px 0;
}
.lesson-content--item {
  margin-bottom: 15px;
}
